definition_version: 2
entities:
  streamlit_app:
    type: streamlit
    main_file: streamlit_app.py
    title: "Smoothie_copy"
    query_warehouse: "INTL_WH"
    compute_pool: "SYSTEM_COMPUTE_POOL_CPU"
    artifacts:
      - pyproject.toml
      - streamlit_app.py
      - .streamlit/config.toml
